<!DOCTYPE html>
<html>

<head>
<script th:src="@{/ckeditor/ckeditor.js}" type="text/javascript"></script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Thêm món ăn</title>
<!-- BOOTSTRAP STYLES-->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
<!-- MORRIS CHART STYLES-->

<!-- CUSTOM STYLES-->
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<!-- GOOGLE FONTS-->

<link th:href="@{/js/dataTables/dataTables.bootstrap.css}"
	rel="stylesheet" />
<link th:href="@{/css/add-product.css}" rel="stylesheet" />
</head>

<body>
	<div id="wrapper">
		<div th:replace="/admin/nav-bar :: nav_bar"></div>
		<!-- /. NAV TOP  -->
		<div th:replace="/admin/slide-bar :: slide_bar"></div>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h2>Sửa món ăn</h2>

					</div>
				</div>
				<!-- /. ROW  -->
				<hr />
				<div class="row">
					<div class="col-md-12">
						<!-- Form Elements -->
						<div class="panel panel-default">
							<div class="panel-heading">sửa món ăn</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<h3>Thông tin món ăn</h3>
										<form role="form" th:action="@{/admin/product/update}" th:object="${product}"
											method="post" enctype="multipart/form-data"
											id="insertProduct">
											<div class="form-group">
												<label>Tên món ăn:</label> <input th:field="*{productName}" class="form-control"
													placeholder="Tên món ăn" name="productName" />
											</div>
											<div class="form-group">
												<label>Mô tả món ăn:</label>
												<textarea class="ckeditor"  rows="4" cols="50"
													name="detailDescription" id="editer"></textarea>
											</div>
											<div class="form-group">
												<label for="image">Hình ảnh</label> <input  th:field="*{image}" type="file"
													name="image">
											</div>
											<div class="form-group">
												<label>Loại nguyên liệu</label> <br> <select
													class="category" name="category" id="category">
													<option value="0">--</option>
													<option th:each="cat: ${categoryList}" th:value="${cat.id}"
														th:text="${cat.categoryName}"></option>
												</select>
											</div>
											<div class="form-group">
												<label>Nguyên liệu</label>
												<ul id="checkbox"
													style="list-style: none; overflow-y: scroll; height: 250px;">Vui
													lòng chọn loại nguyên liệu
												</ul>
											</div>
											<!-- table of resources -->
											<div class="form-group">
												<label>Bảng nguyên liệu</label>
												<div class="panel-body">
													<div class="table-responsive">

														<table class="table table-striped table-bordered table-hover">
															<thead>
																<tr>
																	<th>STT</th>
																	<th>Tên nguyên liệu</th>
																	<th>Kcal/1g</th>
																	<th>Khối lượng (gram)</th>
																	<th>Lượng calo</th>

																</tr>
															</thead>
															<tbody id="resource-table">
																<tr>
																	<td th:field="*{id}"></td>
																	<td th:field="*{id}"></td>
																	<td th:field="*{id}"></td>
																	<td><input style="width: 100%;" type="number"></td>
																	<td></td>
																</tr>
																<tr>
																	<td class="text-center" colspan="4">Tổng số calo</td>
																	<td></td>
																</tr>
															</tbody>

														</table>
													</div>

												</div>
											</div>
											<!-- end table of resources -->
											<button type="submit" class="btn btn-primary">Thêm
												món ăn</button>
											<button type="reset" class="btn btn-default">Làm mới</button>
										</form>


									</div>
								</div>
							</div>
						</div>
						<!-- End Form Elements -->
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row">
					<div class="col-md-12"></div>
				</div>
				<!-- /. ROW  -->
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>


	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script th:src="@{/js/jquery-1.10.2.js}"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- METISMENU SCRIPTS -->
	<script th:src="@{/js/jquery.metisMenu.js}"></script>
	<!-- DATA TABLE SCRIPTS -->
	<script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
	<script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
	<script th:src="@{/js/add-product.js}"></script>
</body>

</html>